.menu.fold {
  &.open {
    div:first-of-type {
      animation-name: fold-top-open;
    }
    div:nth-of-type(2) {
      animation-name: fold-middle-open;
    }
    div:last-of-type {
      animation-name: fold-bottom-open;
    }
  }

  &.closed {
    div:first-of-type {
      animation-name: fold-top-close;
    }
    div:nth-of-type(2) {
      animation-name: fold-middle-close;
    }
    div:last-of-type {
      animation-name: fold-bottom-close;
    }
  }

  ////
  // Keyframes
  //

  // Top opening animation
  @keyframes fold-top-open {
    0% { transform: translate3d(0, -10px, 0) rotate(0deg); }
    50% { transform: translate3d(0, 0, 0) rotate(90deg); }
    100% { transform: translate3d(0, 0, 0) rotate(45deg); }
  }

  // Middle opening animation
  @keyframes fold-middle-open {
    0% { transform: translate3d(0, 0, 0) rotate(0deg); opacity: 1 }
    50% { transform: rotate(90deg); opacity: 1 }
    51% { transform: rotate(90deg); opacity: 0 }
    100% { transform: rotate(90deg); opacity: 0 }
  }

  // Bottom opening animation
  @keyframes fold-bottom-open {
    0% { transform: translate3d(0, 10px, 0) rotate(0deg); }
    50% { transform: translate3d(0, 0px, 0) rotate(90deg); }
    100% { transform: translate3d(0, 0px, 0) rotate(135deg); }
  }

  // Top closing animation
  @keyframes fold-top-close {
    0% { transform: translate3d(0, 10px, 0) rotate(45deg); }
    100% { transform: translate3d(0, 0px, 0) rotate(0deg); }
  }

  // Middle closing animation
  @keyframes fold-middle-close {
    0% { transform: rotate(45deg); opacity: 1 }
    100% { transform: rotate(0deg); opacity: 1 }
  }

  // Bottom closing animation
  @keyframes fold-bottom-close {
    0% { transform: translate3d(0, -10px, 0) rotate(-45deg) }
    100% { transform: translate3d(0, 0, 0) rotate(0deg) }
  }
}
