$animation-speed: 300ms;

.menu {
  ////
  // Base Styles
  //
  div {
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 3px;
    background: black;
    margin: auto;

    animation-duration: $animation-speed;

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-timing-function: cubic-bezier(0.23, 0.23, 0.1, 1);
    -moz-animation-timing-function: cubic-bezier(0.23, 0.23, 0.1, 1);
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.23, 0.1, 1);
  }

  // The init class keeps the icon from animating on load
  &.init>div {
    animation: none!important;
  }

  // Base styles for the closed icon (hamburger)
  &.closed {
    div:first-of-type {
      top: 15px;
    }
    div:nth-of-type(2) {
      top: 25px;
    }
    div:last-of-type {
      top: 35px;
    }
  }

  // Base styles for the open icon (X)
  &.open {
    div:first-of-type {
      top: 25px;
      transform: rotate(45deg);
    }
    div:nth-of-type(2) {
      top: 25px;
      opacity: 0;
    }
    div:last-of-type {
      top: 25px;
      transform: rotate(-45deg);
    }
  }
}
