$animation-speed: 300ms;

.menu {
  div {
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    margin: auto;

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

    animation-timing-function: cubic-bezier(0.23, 0.23, 0.1, 1);
    -moz-animation-timing-function: cubic-bezier(0.23, 0.23, 0.1, 1);
    -webkit-animation-timing-function: cubic-bezier(0.23, 0.23, 0.1, 1);
  }

  &.closed {
    div:first-of-type {
      top: 15px;
      animation-duration: $animation-speed;
      animation-name: top-open-to-middle, top-open-rotate;
    }
    div:nth-of-type(2) {
      top: 25px;
      animation-duration: 1ms;
      animation-delay: $animation-speed/2;
      animation-name: middle-open-shrink;
    }
    div:last-of-type {
      top: 35px;
      animation-duration: $animation-speed;
      animation-name: bottom-open-to-middle, bottom-open-rotate;
    }
  }

  &.open {
    div:first-of-type {
      top: 25px;
      transform: rotate(45deg);
      animation-duration: $animation-speed;
      animation-name: top-close-rotate, top-close-to-top;
    }
    div:nth-of-type(2) {
      top: 25px;
      width: 0;
      animation-duration: 1ms;
      animation-delay: $animation-speed/2;
      animation-name: middle-close-grow;
    }
    div:last-of-type {
      top: 25px;
      transform: rotate(-45deg);
      animation-duration: $animation-speed;
      animation-name: bottom-close-rotate, bottom-close-to-bottom;
    }
  }

  ////
  // Top Opening Animations
  //
  @keyframes top-open-to-middle {
    0% { top: 15px; }
    50% { top: 25px; }
    100% { top: 25px; }
  }

  @keyframes top-open-rotate {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(0deg) }
    100% { transform: rotate(45deg) }
  }

  ////
  // Middle Opening Animations
  //
  @keyframes middle-open-shrink {
    0% { width: 100%; }
    100% { width: 0; }
  }

  ////
  // Bottom Opening Animations
  //
  @keyframes bottom-open-to-middle {
    0% { top: 35px; }
    50% { top: 25px; }
    100% { top: 25px; }
  }

  @keyframes bottom-open-rotate {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(0deg) }
    100% { transform: rotate(-45deg) }
  }

  ////
  // Top Closing Animations
  //
  @keyframes top-close-rotate {
    0% { transform: rotate(45deg) }
    50% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
  }

  @keyframes top-close-to-top {
    0% { top: 25px; }
    50% { top: 25px; }
    100% { top: 15px; }
  }

  ////
  // Middle Closing Animations
  //
  @keyframes middle-close-grow {
    0% { width: 0 }
    100% { width: 100% }
  }

  ////
  // Bottom Closing Animations
  //
  @keyframes bottom-close-rotate {
    0% { transform: rotate(-45deg) }
    50% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
  }
  @keyframes bottom-close-to-bottom {
    0% { top: 25px; }
    50% { top: 25px; }
    100% { top: 35px; }
  }
}
