/*body {
  font-family: 'Open Sans'
}

.fay {
  width: 50px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  div {
    width: 100%;
    border: 2px solid black;
    border-radius: 3px;
    position: absolute;
    animation-duration: 1s;
  }

  &.open>div {animation-name: go-to-center;}

  div:first-of-type {
    top: 10px;
  }

  div:nth-of-type(2) {
    top: 23px;
  }

  div:last-of-type {
    top: 37px;
  }

  @keyframes go-to-center {
    50% {
      top: 23px;
    }

    100% {
      bottom: 0;
    }
  }
}*/
